{$APP_URL} {
  tls {$LETSENCRYPT_EMAIL}
  encode gzip
  log
  header -Server

  handle_path /api/* {
    reverse_proxy {$PROXY_BACKEND_URL}
  }

  handle_path /* {
    reverse_proxy {$PROXY_FRONTEND_URL}
  }
}